#services{
    border: 2px solid silver;
    /* display: grid;
    grid-template-rows:repeat(2, 1fr); */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    gap: 70px;
    justify-content: space-around;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#cards{
    border: 2px solid silver;
    width: 270px;
    background:linear-gradient(to right, #810B38,rgb(255, 222, 222));
    text-align: center;
    border-radius: 10%;
    box-shadow: 4px 3px 10px tomato;
}


/* #head{
    border: none;
    border-bottom: 2px solid white;
    width: 10px;
    text-decoration: underline white;
}

#head:hover{
    width:100px;
} */

#head {
    display: inline-block;
    border: none;
    border-bottom: 2px solid black;
    width: 50%;
    transition: width 0.3s ease, border-color 0.7s ease ;
}

#head:hover {
    width: 100%;
    border-bottom-color: white;
}