body{
    width: 99%;
}
.cards{
    display: flex;
}
#main{
    /*border: 2px solid;
    */border-radius: 20px;
    height: 300px;
    width: 300px;
    margin-top: 10%;
    /* margin-left: 35%; */
    text-align: center;
    background-color:coral;
}

#box1{
    height: 20px;
    width: 80%;
    margin-top: 20%;
    background-color: cornsilk;
}

#box2{
    height: 20px;
    width: 80%;
    margin-top: 20%;
}

#box3{
    height: 20px;
    width: 80%;
    margin-top: 20%;
}